.contact-form {
    max-width: 500px;
    margin: 70px auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    background-color: #f2f6f8;
  }
  
  .contact-form div {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
  }
  
  .contact-form button {
    padding: 10px 15px;     
    background-color: #27374D;
    font-size: 18px;
    color: #DDE6ED;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #526D82;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  .Contact-us-Heading{
    margin-bottom: 3rem;
  }
  #message{
    resize: none;
  }