.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

.FooterTexts {
  margin: 0;
  font-size: 14px;
}