.footer {
  background-color: #27374D;
  color: white;
  text-align: center;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
  height: 28rem;
}

.footerWrapper {
  width: 80%;
  margin: auto;
}

.FooterTexts {
  margin: 0;
  font-size: 14px;
  margin-top: 20px;
}

.upperContainer {
  width: 100%;
  margin: auto;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}

.first-div {
  color: #ffff;
  justify-content: space-between;
  width: 30%;
  padding: 5px;
  height: 100%;
}

.first-div-Text {
  font-size: 18px;
  color: #bebcbc;
}

.Link-Text {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.second-div {
  color: #ffff;
  justify-content: space-between;
  width: 30%;
  text-align: start;
}

.third-div {
  color: #ffff;
  justify-content: space-between;
  width: 30%;
  text-align: start;

}

.fourth-div {
  justify-content: space-between;
  width: 30%;
  text-align: start;
}

.child-div {
  margin-top: 6rem;
}

.icon {
  height: 55px;
  width: 55px;
  padding: 10px;



}

.icon-container {
  display: flex;
  margin-top: 20px;
  margin: 10px;
  gap: 20px;

}

.email-icon-icon-container {
  display: flex;
  margin: 10px;
  gap: 12px;
  align-items: center;
  height: 55px;
  width: 25rem;

}

.email-icon {
  height: 55px;
  width: 55px;

  padding: 10px;
}

.email-icon-text {
  font-size: 20px;

}

.email-us {
  font-size: 20px;
  padding: 8px;
  color: #ffff;
}

.email-text-container {
  display: flex;
  margin: 10px;
  gap: 12px;
  align-items: center;
  height: 55px;

}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  margin-top: 30px;
}

.FooterTexts {
  margin: 0;
  font-size: 20px;
}

.reserved-text {
  font-size: 20px;
}

.Link-Text {
  color: #ffff;
}