.blogsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
}

.blogCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  width: 300px;
}