h2 {
  text-align: center;
  margin: 20px 0;
  color: #333;
  font-size: 50px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.loading {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: bold;
  margin: 50px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.pagination {
  margin-bottom: 1rem;
}