.single-product-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.single-product-image-section {
  flex: 1;
  text-align: center;
}

.single-product-image {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 10px;
}

.single-product-details {
  flex: 2;
  padding: 20px;
}

.single-product-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.single-product-brand,
.single-product-category,
.single-product-inventory {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.single-product-description {
  font-size: 1em;
  margin-bottom: 15px;
  line-height: 1.6;
}

.single-product-price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.single-product-rating {
  font-size: 1.2em;
}

.single-product-price {
  font-size: 1.5em;
  font-weight: bold;
  color: #28a745;
}

.single-product-cart-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-remove,
.cart-add,
.single-product-add-to-cart {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-quantity {
  font-size: 1.2em;
  font-weight: bold;
}

.cart-delete {
  background-color: transparent;
  border: none;
  background-color: #ecf0f1;
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.cart-delete-icon {
  font-size: 2rem;
}

.single-product-not-found {
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
  color: #dc3545;
}